/*fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
  /* default color */
  background: DarkSeaGreen;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
img {
  width: 200px;
}

/* LightGallery Position Correction */
div.lg-item,
div.lg-loaded,
div.lg-current,
div.lg-complete {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
